*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
}
:root{
  --primary-color: #68c1c3;
  --title-color: #fff;
  --white-color2: #f1f1f1;
  --acento-color: #dbd8d8;
  --dark-color: #464949;
  --dark-color2: #314447;
  --hover-color: #d1c6b7;
  --text-color-sobre: #7A7A7A;
  --swiper-navigation-color:var(--primary-color);
  --swiper-pagination-color:var(--primary-color);
}

